﻿@using Microsoft.AspNet.Identity
@model CineCommunity.Models.ManageUserViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "simform", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="sminputs">
        <h2 class="string optional">Change Password</h2>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.OldPassword, new { @class = "string optional" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "string optional", @placeholder = "Current Password" })
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.NewPassword, new { @class = "string optional" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "string optional", @placeholder = "New Password" })
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "string optional" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "string optional", @placeholder = "Confirm New Password" })
        </div>
    </div>

    <input type="submit" value="Change password" class="button" id="change_password" />
}
