﻿@model CineCommunity.Models.LoginViewModel

@{ Layout = "";}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "simform" }))
{
    @Html.AntiForgeryToken()
    <div class="sminputs">
        <div class="input full">
            @Html.LabelFor(m => m.Username, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "string optional" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div class="sminputs">
        <div class="input full">
            @Html.LabelFor(m => m.Password, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Password, new { @id = "user-pw", @placeholder = "Password", @class = "string optional", @type = "password" })
            <span class="hide-password">Show</span>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="simform__actions">
        <input class="sumbit" name="commit" type="submit" value="Log In" />
        <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?</a></span>
    </div>
}