﻿@model CineCommunity.Models.UserViewModel

@using (Html.BeginForm("Save", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Firstname, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Firstname, new { @placeholder = "Firstname", @class = "string optional" })
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.Lastname, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Lastname, new { @placeholder = "Lastname", @class = "string optional" })
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Email, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "string optional" })
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Gender, new { @class = "string optional" })
            @Html.DropDownListFor(m => m.Gender, new SelectList(new List<string>() { "Male", "Female" }), new { @placeholder = "Gender", @class = "string optional" })
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.Birthdate, new { @class = "string optional"})
            @Html.TextBoxFor(m => m.Birthdate, "{0:yyyy-MM-dd}", new { @class = "string optional", @placeholder = "dd/mm/yyyy", @type = "date" })
        </div>
    </div>
    <input type="submit" value="Save" class="button string optional" />
}
