﻿@model CineCommunity.Models.RegisterViewModel

@{ Layout = "";}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "simform" }))
{
    @Html.AntiForgeryToken()
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Firstname, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Firstname, new { @placeholder = "Firstname", @class = "string optional" })
            @Html.ValidationMessageFor(m => m.Firstname)
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.Lastname, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Lastname, new { @placeholder = "Lastname", @class = "string optional" })
            @Html.ValidationMessageFor(m => m.Lastname)
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Username, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Username, new { @placeholder = "Username", @class = "string optional" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.Email, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @class = "string optional", @type = "email" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Birthdate, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Birthdate, new { @class = "string optional", @placeholder = "dd/mm/yyyy", @type = "date" })
            @Html.ValidationMessageFor(m => m.Birthdate)
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.Gender, new { @class = "string optional" })
            @Html.DropDownListFor(m => m.Gender, new SelectList(new List<string>() { "Male", "Female" }), new { @placeholder = "Gender", @class = "string optional" })
            @Html.ValidationMessageFor(m => m.Gender)
        </div>
    </div>
    <div class="sminputs">
        <div class="input string optional">
            @Html.LabelFor(m => m.Password, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @class = "string optional", @type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="input string optional">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "string optional" })
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Repeat password", @class = "string optional", @type = "password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="simform__actions">
        <input class="sumbit" name="commit" type="submit" value="Create Account" />
        <span class="simform__actions-sidetext">By creating an account you agree to our <a class="special" href="#" target="_blank" role="link">Terms & Privacy</a></span>
    </div>
}