﻿@model CineCommunity.Models.LoginModel

@{
    ViewBag.Title = "LogIn";
}

@Styles.Render("/Content/login.css")
@Scripts.Render("/Scripts/login.js")


<div class="logmod">
    <div class="logmod__wrapper">
        <div class="logmod__container">
            <ul class="logmod__tabs">
                <li data-tabtar="lgm-2"><a href="#">Login</a></li>
                <li data-tabtar="lgm-1"><a href="#">Sign Up</a></li>
            </ul>
            <div class="logmod__tab-wrapper">
                <div class="logmod__tab lgm-1">
                    <div class="logmod__heading">
                        <span class="logmod__heading-subtitle">Enter your personal details <strong>to create an account</strong></span>
                    </div>
                    <div class="logmod__form">
                        @Html.Partial("_RegisterForm", Model.RegisterViewModel);
                    </div>
                </div>
                <div class="logmod__tab lgm-2">
                    <div class="logmod__heading">
                        <span class="logmod__heading-subtitle">Enter your username and password <strong>to sign in</strong></span>
                    </div>
                    <div class="logmod__form">
                        @Html.Partial("_LoginForm", Model.LoginViewModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
