﻿@model CineCommunity.Models.ManageViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
@Styles.Render("/Content/manage.css")

<div class="logmod">
    <div class="logmod__wrapper">
        <div class="logmod__container">
            <div id="photo" class="cropper">
                <img alt="photo" src="@String.Format("data:image/png;base64,{0}", Model.UserViewModel.Photo)" />
                @using (Html.BeginForm("UploadImage", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "upload_image", @class = "simform"}))
                {
                    <label id="label_upload" for="image"></label>
                    <input type="file" name="image" id="image" accept="image/*" onchange="this.form.submit()" class="hidden" />
                }
            </div>
            @Html.Partial("_ProfileForm", Model.UserViewModel)
            @Html.Partial("_ChangePasswordPartial", Model.ManageUserViewModel)
            </div>
        </div>
    </div>
</div>