﻿@{
    ViewBag.Title = "Home Page";
}


<div class="relative">
    <div id="gallery">
        <ul id="myRoundabout">
            <li><img src="/Content/Image/img1.png" alt=""></li>
            <li><img src="/Content/Image/img2.png" alt=""></li>
            <li><img src="/Content/Image/img3.png" alt=""></li>
        </ul>
    </div>
</div>

<!-- content -->
<section id="content">
    <!-- Movies -->
    <div class="wrap silver movie">
        <h2>Popular Movies</h2>
        @foreach (var movie in ViewBag.PopularMovies)
        {
            <article class="col1">
                <h3 class="movie_title">@movie.Name</h3>
                <div class="cropper">
                    <a href="/movies/details?id=@movie.Id">
                        <img src="@movie.UrlPhoto" alt="">
                    </a>
                </div>
                <div class="pad">
                    <strong class="movie_date">@movie.ReleaseDate</strong>
                    <strong class="movie_realisator">Christopher Nolan</strong>
                    <strong class="movie_actors">Leonardo DiCaprio, Marion Cotillard</strong>
                    <p class="movie_content">@movie.Synopsis</p>
                    <a href="/movies/details?id=@movie.Id" class="movie_button">Read More</a>
                </div>
            </article>
        }
    </div>
    <!-- / Movies -->
    <!-- Series -->
    <div class="wrap silver serie">
        <h2>Popular Series</h2>
        @foreach (var serie in ViewBag.PopularSeries)
        {
            <article class="col1">
                <h3 class="movie_title">@serie.Name</h3>
                <div class="cropper">
                    <a href="/series/details?id=@serie.Id">
                        <img src="@serie.UrlPhoto" alt="">
                    </a>
                </div>
                <div class="pad">
                    <strong class="movie_date">@serie.ReleaseDate</strong>
                    <strong class="movie_realisator"></strong>
                    <strong class="movie_actors"></strong>
                    <p class="movie_content">@serie.Synopsis</p>
                    <a href="/series/details?id=@serie.Id" class="movie_button">Read More</a>
                </div>
            </article>
        }
    </div>
    <!-- / Series -->
    <!-- Celebrities -->
    <div class="wrap silver celebrity">
        <h2>Popular Celebrities</h2>
        @foreach (var celebrity in ViewBag.PopularCelebrities)
        {
            <article class="col1">
                <h3 class="movie_title">@celebrity.Name</h3>
                <div class="cropper">
                    <a href="/celebrities/details?id=@celebrity.Id">
                        <img src="@celebrity.UrlPhoto" alt="">
                    </a>
                </div>
                <div class="pad">
                    <strong class="movie_date">@celebrity.BirthDate (@celebrity.BirthPlace)</strong>
                    <strong class="movie_realisator"></strong>
                    <strong class="movie_actors"></strong>
                    <p class="movie_content">@celebrity.Biography</p>
                    <a href="/celebrities/details?id=@celebrity.Id" class="movie_button">Read More</a>
                </div>
            </article>
        }
    </div>
    <!-- / Celibrities -->
</section>