﻿@Scripts.Render("/Scripts/chat.js")
@Styles.Render("/Content/chat.css")


<img id="chat_menu_button" alt="chat" src="/Content/Image/Chat.png" class="button" onclick="openMenuChat();" />
<div id="chat_menu" class="hidden">
    <div id="top_bar_menu_chat">
        <h1>Menu Chat</h1>
        <div class="buttons">
            <img class="add" alt="add" src="/Content/Image/add.png" onclick="openCreateSubject();">
            <img class="close" alt="close" src="/Content/Image/close.png" onclick="closeMenuChat();" />
        </div>
    </div>
    <div id="subject_creation" class="hidden">
        <a id="create_subject" class="button" href="#">Create</a>
        <input id="title_subject" type="text" placeholder="Title" />
        <textarea id="description_subject" placeholder="Description"></textarea>
        <input id="creator_subject" type="hidden" value="@User.Identity.Name" />
    </div>
    <ul id="subjects">
    </ul>
</div>



<div id="chat" class="chat hidden">
    <ul class="top_bar">
        <li class="title">Title Chat</li>
        <li class="buttons">
            <img src="/Content/Image/minimize.png" alt="_" onclick="minimizeChat(this.parentNode.parentNode.parentNode)">
            <img src="/Content/Image/close.png" alt="X" onclick="closeChat(this.parentNode.parentNode.parentNode)">
        </li>
        <li class="clear"></li>
    </ul>
    <div class="content">
        <ul class="messages">
        </ul>
        <textarea name="message" placeholder="Type your message"></textarea>
    </div>

    <input name="id" type="hidden" />
    <input name="username" type="hidden" value="@User.Identity.Name" />
</div>
