﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("/Content/reset.css")
    @Styles.Render("/Content/layout.css")
    @Styles.Render("/Content/style.css")


        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("/Scripts/jquery-1.10.2.js")
        @Scripts.Render("/Scripts/jquery.signalR-2.2.0.min.js")
        @Scripts.Render("/signalr/hubs")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("/Scripts/jquery.easing.1.2.js")
        @Scripts.Render("/Scripts/atooltip.jquery.js")
        @Scripts.Render("/Scripts/cufon-yui.js")
        @Scripts.Render("/Scripts/cufon-replace.js")
        @Scripts.Render("/Scripts/Terminal_Dosis_300.font.js")
        @Scripts.Render("/Scripts/atooltip.jquery.js")
        @Scripts.Render("/Scripts/roundabout.js")
        @Scripts.Render("/Scripts/roundabout_shapes.js")
        @Scripts.Render("/Scripts/script.js")

</head>

<body id="page1">
    <div class="body1">
        <div class="body2">
            <div class="body3">
                <div class="main">
                    <header>
                        <div class="wrapper">
                            <h1><a href="index.html" id="logo"></a></h1>
                            <form id="search" method="get" action="search">
                                <div>
                                    <input type="submit" class="submit" value="">
                                    <input class="input" type="text" name="q" value="Site Search" onblur="if(this.value=='') this.value='Site Search'" onfocus="if(this.value =='Site Search' ) this.value=''">
                                </div>
                            </form>
                            @Html.Partial("_LoginPartial")
                            <nav>
                                <ul id="menu">
                                    @{ string controllerName = ViewContext.RouteData.Values["controller"] as string; }
                                    @if (controllerName == "Home")
                                    {
                                        <li id="active">@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li>@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li>@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                    else if (controllerName == "Movies")
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li id="active">@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li>@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li>@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                    else if (controllerName == "Series")
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li id="active">@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li>@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                    else if (controllerName == "Celebrities")
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li>@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li id="active">@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                    else if (controllerName == "Community")
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li>@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li>@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li id="active" class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
                                        <li>@Html.ActionLink("Series", "Index", "Series")</li>
                                        <li>@Html.ActionLink("Celebrities", "Index", "Celebrities")</li>
                                        <li class="end">@Html.ActionLink("Community", "Index", "Community")</li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </header>
                    <div class="container body-content">
                        @RenderBody()
                        <hr />
                    </div>

                    </div>
                </div>
            </div>
        </div>
    
    @if (Request.IsAuthenticated)
    {
        <!-- Chat -->
        @Html.Partial("_Chat")
        <!-- / Chat -->
    }

    <!-- / content -->
    <div class="main">
        <!-- footer -->
        <footer>
            <div class="wrapper">
                <span class="left">
                    Designed by Vince with the help of TemplateMonster.com<br>
                </span>
                <ul id="icons">
                    <li><a href="#" class="normaltip" title="Facebook"><img src="/Content/Image/icon1.png" alt=""></a></li>
                    <li><a href="#" class="normaltip" title="Delicious"><img src="/Content/Image/icon2.png" alt=""></a></li>
                    <li><a href="#" class="normaltip" title="Stumble Upon"><img src="/Content/Image/icon3.png" alt=""></a></li>
                    <li><a href="#" class="normaltip" title="Twitter"><img src="/Content/Image/icon4.png" alt=""></a></li>
                    <li><a href="#" class="normaltip" title="Linkedin"><img src="/Content/Image/icon5.png" alt=""></a></li>
                    <li><a href="#" class="normaltip" title="Reddit"><img src="/Content/Image/icon6.png" alt=""></a></li>
                </ul>
            </div>
            <!-- {%FOOTER_LINK} -->
        </footer>
        <!-- / footer -->
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
