﻿@{
    ViewBag.Title = "Search Page";
}


<!-- content -->
<section id="content">
    <div>
        <h3>Results for : "@ViewBag.Search"</h3>
    </div>
    <div class="wrap silver movie">
        <h3>Movies</h3>
            @foreach (var movie in ViewBag.Result.Item1)
            {
                <article class="col1 block">
                    <h3 class="title">@movie.Name</h3>
                    <div class="cropper">
                        <a href="/movies/details?id=@movie.Id">
                            <img src="@movie.UrlPhoto" alt="">
                        </a>
                    </div>
                    <div class="pad">
                        <strong class="date">@movie.ReleaseDate</strong>
                        <strong class="movie_realisator"></strong>
                        <strong class="movie_actors"></strong>
                        <p class="movie_content">@movie.Synopsis</p>
                        <a href="/movies/details?id=@movie.Id" class="movie_button">Read More</a>
                    </div>
                </article>
            }
    </div>
    <div class="wrap silver movie">
        <h3>Series</h3>
        <ul>
            @foreach (var serie in ViewBag.Result.Item2)
            {
                <article class="col1 block">
                    <h3 class="title">@serie.Name</h3>
                    <div class="cropper">
                        <a href="/series/details?id=@serie.Id">
                            <img src="@serie.UrlPhoto" alt="">
                        </a>
                    </div>
                    <div class="pad">
                        <strong class="date">@serie.ReleaseDate</strong>
                        <strong class="movie_realisator"></strong>
                        <strong class="movie_actors"></strong>
                        <p class="movie_content">@serie.Synopsis</p>
                        <a href="/series/details?id=@serie.Id" class="movie_button">Read More</a>
                    </div>
                </article>
            }
        </ul>
    </div>
    <div class="wrap silver movie">
        <h3>Celebrities</h3>
        <ul></ul>
    </div>
</section>