﻿@{
    ViewBag.Title = "Series Page";
}


<!-- content -->
<section id="content">
    <!-- Movies -->
    <div class="wrap silver movie">
        <h2>@ViewBag.serie.Name</h2>
        <div class="cropper">
            <!--<img width="128" src="@ViewBag.serie.UrlPhoto" alt="">-->
        </div>
        <strong class="date">@ViewBag.serie.ReleaseDate</strong>
        <strong class="movie_realisator"></strong>
        <strong class="movie_actors"></strong>
        <p class="movie_content">@ViewBag.serie.Synopsis</p>
        @if (ViewBag.follow == true)
        {
            <a href="/series/unfollow?id=@ViewBag.serie.Id" class="movie_button">Unfollow</a>
        }
        else
        {
            <a href="/series/follow?id=@ViewBag.serie.Id" class="movie_button">Follow</a>
        }
    </div>
    <!-- / Movies -->
</section>