﻿@{
    ViewBag.Title = "Series Page";
}


<!-- content -->
<section id="content">
    <!-- Series -->
    @foreach (var types in ViewBag.Series)
    {
        <div class="wrap silver movie">
            <h2>@types.Key</h2>
            @foreach (var serie in types.Value)
            {
                <article class="col1 block">
                    <h3 class="title">@serie.Name</h3>
                    <div class="cropper">
                        <a href="Movies.html">
                            <img src="@serie.UrlPhoto" alt="">
                        </a>
                    </div>
                    <div class="pad">
                        <strong class="date">@serie.ReleaseDate</strong>
                        <strong class="movie_realisator"></strong>
                        <strong class="movie_actors"></strong>
                        <p class="movie_content">@serie.Synopsis</p>
                        <a href="Movies.html" class="movie_button">Read More</a>
                    </div>
                </article>
            }
        </div>
    }
    <!-- / Series -->
</section>