﻿@{
    ViewBag.Title = "Celebrity Details Page";
}


<!-- content -->
<section id="content">
    <!-- Movies -->
    <div class="wrap silver movie">
        <h2>@ViewBag.person.Name</h2>
        <div class="cropper">
            <!--<img width="128" src="@ViewBag.person.UrlPhoto" alt="">-->
        </div>
        <strong class="date">@ViewBag.person.BirthDate (@ViewBag.person.BirthPlace)</strong>
        <p class="movie_content">@ViewBag.person.Biography</p>
        @if (ViewBag.follow == true)
        {
            <a href="/celebrities/unfollow?id=@ViewBag.person.Id" class="movie_button">Unfollow</a>
        }
        else
        {
            <a href="/celebrities/follow?id=@ViewBag.person.Id" class="movie_button">Follow</a>
        }
    </div>
    <!-- / Movies -->
</section>