﻿@{
    ViewBag.Title = "Celebrities Page";
}


<!-- content -->
<section id="content">
    <!-- Popular -->
    <div class="wrap silver movie">
        <h2>Popular</h2>
        <ul>
            @foreach (var celebrity in ViewBag.PopularCelebrities)
            {
                <li>
                    <article class="col1 block">
                        <h3 class="title">@celebrity.Item1</h3>
                        <h3 class="title">@celebrity.Item2.Name</h3>
                        <div class="cropper">
                            <a href="/celebrities/details?id=@celebrity.Item2.Id">
                                <img src="@celebrity.Item2.UrlPhoto" alt="">
                            </a>
                        </div>
                        <div class="pad">
                            <p class="content">@celebrity.Item2.Biography</p>
                            <a href="/celebrities/details?id=@celebrity.Item2.Id" class="button">Read More</a>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
    <!-- / Popular -->
    <!-- MostRoles -->
    <div class="wrap silver movie">
        <h2>Most Roles</h2>
        <ul>
            @foreach (var celebrity in ViewBag.MostRolesCelebrities)
            {
                <li>
                    <article class="col1 block">
                        <h3 class="title">@celebrity.Item1</h3>
                        <h3 class="movie_title">@celebrity.Item2.Name</h3>
                        <div class="cropper">
                            <a href="/celebrities/details?id=@celebrity.Item2.Id">
                                <img src="@celebrity.Item2.UrlPhoto" alt="">
                            </a>
                        </div>
                        <div class="pad">
                            <p class="content">@celebrity.Item2.Biography</p>
                            <a href="/celebrities/details?id=@celebrity.Item2.Id" class=" button">Read More</a>
                        </div>
                    </article>
                </li>
            }
        </ul>
    </div>
    <!-- / MostRoles -->
</section>