﻿@{
    ViewBag.Title = "Movies Page";
}


<!-- content -->
<section id="content">
    <!-- Movies -->
    <div class="wrap silver movie">
        <h2>@ViewBag.movie.Name</h2>
        <div class="cropper">
            <!--<img width="128" src="@ViewBag.movie.UrlPhoto" alt="">-->
        </div>
        <strong class="date">@ViewBag.movie.ReleaseDate</strong>
        <strong class="movie_realisator"></strong>
        <strong class="movie_actors"></strong>
        <p class="movie_content">@ViewBag.movie.Synopsis</p>
        @if (ViewBag.follow == true)
        {
            <a href="/movies/unfollow?id=@ViewBag.movie.Id" class="movie_button">Unfollow</a>
        }
        else
        {
            <a href="/movies/follow?id=@ViewBag.movie.Id" class="movie_button">Follow</a>
        }
    </div>
    <!-- / Movies -->
</section>