﻿@{
    ViewBag.Title = "Movies Page";
}


<!-- content -->
<section id="content">
    <!-- Movies -->
        @foreach (var types in ViewBag.Movies)
        {
            <div class="wrap silver movie">
                <h2>@types.Key</h2>
                @foreach (var movie in types.Value)
                {
                <article class="col1 block">
                    <h3 class="title">@movie.Name</h3>
                    <div class="cropper">
                        <a href="movies/details?id=@movie.Id">
                            <img src="@movie.UrlPhoto" alt="">
                        </a>
                    </div>
                    <div class="pad">
                        <strong class="date">@movie.ReleaseDate</strong>
                        <strong class="movie_realisator"></strong>
                        <strong class="movie_actors"></strong>
                        <p class="movie_content">@movie.Synopsis</p>
                        <a href="/movies/details?id=@movie.Id" class="movie_button">Read More</a>
                    </div>
                </article>
                }
            </div>
        }
    <!-- / Movies -->
</section>