﻿#chat_menu_button { border-radius: 100%; position: fixed; bottom: 10px; left: 10px; opacity: 0.8; }
#chat_menu { position: fixed; left: 10px; bottom: 150px; overflow: hidden; height: 50%; width: 15%; background-color: #282828; opacity: 0.9; z-index: 600;}
    #top_bar_menu_chat { background: linear-gradient(to bottom, #13c5ff, #5cade0); color: white; display: inline-block; width: 100%; overflow: hidden; height: 40px;}
    #top_bar_menu_chat h1 { text-align: center; display: inline-block; z-index: 600; padding: 10px; font-size: 20px;}
    #chat_menu .add { width: 25px; height: 25px; padding-top: 7px;}
    #chat_menu .close { width: 40px; height: 40px}

#subject_creation { height: 55px; overflow: hidden; }
    #title_subject { max-width: 66.6666%; box-sizing: border-box; }
    #description_subject { max-width: 66.6666%; width: 66.666%; box-sizing: border-box; }
    #creator_subject { clear: both;}
    #create_subject { float: right; width: 33.33333%; box-sizing: border-box; height: 100%; text-align: center; padding-top: 10px; }

#subjects {opacity: 0.5; overflow-y: auto; overflow-x:hidden; max-height: 100%; }
    #subjects li { display: inline-block; width: calc(100% - 10px); background: linear-gradient(to bottom, #282828, #808080); color: white; padding: 5px;}
    #subjects li:hover { background: linear-gradient(to bottom, #13c5ff, #5cade0); cursor: pointer; }
        #subjects li p { padding: 0;}

.chat { position: fixed; bottom: 0; left: 200px; width: 300px; background-color: rgba(100, 100, 100, 0.9); z-index: 900; max-height: 20%;}
.chat .top_bar { background: linear-gradient(to bottom, #13c5ff, #5cade0); color: white; display: inline-block; width: 100%; overflow: hidden;}
.chat .top_bar li { display: inline-block;}
.chat .title { text-align: center; margin: 5px 15px; font-size: large; }
.buttons { float: right; }
.chat img { width: 30px; height: 30px;}
.chat img:hover { background-color: rgba(100, 100, 100, 0.7);}
.chat .clear {clear: both;}
.chat .messages {overflow: auto; max-height: 150px;}
.chat textarea[name=message] { max-width: 98.8%;  width: 98.8%; height: auto; max-height: 80px; margin-bottom: -5px; }
