﻿.logmod {
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
}
.logmod::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__wrapper {
  display: block;
  background: #FFF;
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  margin: 120px auto;
}
.logmod__container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}

#photo { position: relative; width: 25%; height: 25%; min-width: 250px; min-height: 250px; float: left; margin-right: 15px; }
    #photo img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
    #upload_image { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; }
    #label_upload { width: 100%; height: 100%; z-index: 3; position: absolute; top: 0; left: 0;}
    #label_upload:hover { background-image: url("Image/Edit.png"); background-repeat: no-repeat; background-size: auto; background-color: rgba(28, 28, 28, 0.8); background-position: center; }

input { border-style: solid; border-width: 1px; border-color: #282828; border-radius: 10%; }

.sminputs {
}
.sminputs::after {
}
.sminputs .input {
  display: block;
  position: relative;
  width: 30%;
  height: 71px;
  padding: 11px 24px;
  border-right: 1px solid #e5e5e5;
  border-bottom: none;
  float: left;
  background-color: #FFF;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.sminputs .input.active {
  background: #eee;
}
.sminputs .input.active .hide-password {
  background: #eee;
}
.sminputs .input.full {
  width: 100%;
}
.sminputs .input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  line-height: 24px;
}
.sminputs .input input {
  postion: relative;
  display: inline-block;
  height: 24px;
  font-size: 15px;
  line-height: 19.2px;
  color: #555;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: rgba(75, 89, 102, 0.85);
}
.sminputs .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 15px;
  border-left: 1px solid #e4e4e4;
  font-size: 14px;
  background: #FFF;
  overflow: hidden;
  color: #444;
  cursor: pointer;
  margin-top: 12px;
  line-height: 48px;
}
input[type=submit].button { width: 30%;}

h2 { clear: both; }
#change_password { text-align: center; margin-left: auto; margin-right: auto;}