/* Getting the new tags to behave */
article, aside, audio, canvas, datalist, details, embed, figcaption, figure, footer, header, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}
.relative {position:relative}
/* Global properties */
body {background:#111;border:0;font:14px Arial, Helvetica, sans-serif;color:#0f0f0f;line-height:20px}
.ic, .ic a {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
.css3 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0 0 4px rgba(0, 0, 0, .4);-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);position:relative}
/* Global Structure */
.main {margin:0 auto;width: 100%;}
.body1 {background:url(Image/bg_img2.jpg) center 560px no-repeat #eaeaea}
.body2 {background:url(Image/bg_top_repeat.jpg) top repeat-x}
.body3 {background:url(Image/bg_top_img.jpg) top center no-repeat}
.body4 {background:url(Image/bg_content.gif) top repeat-x #363636}
/* main layout */
a:hover {text-decoration:none}
h1 {padding:37px 0 0 19px;float:left}
h2 span {color:#13c5ff}
h2 {font-size: 40px; line-height: 2em; color: #373737; text-align: center;}
h3 {font-size: 25px; line-height: 1.2em; color: #13c5ff; text-align: center; font-weight: 100;}
p {padding-bottom:20px}
/* header */
header {height:20%}
#register {position: fixed; top: 0; right: 100px;}
#login_link { position: fixed; top: 5px; right: 20px; z-index: 500; }
#manage { position: fixed; top: 5px; right: 94px; z-index: 500;}
#login {display: block; position:fixed; top: 0; right: 0; z-index: 500; }
#username { width: 75px; line-height: 28px;}
#password {width: 75px; line-height: 28px;}
#logo {display:block;background:url(Image/logo.png) 0 0 no-repeat;width:276px;height:94px;text-indent:-9999px}
#search {float:right;padding:41px 20px 0 0;width:600px}
#search .input {float:right;width:148px;padding:5px 8px;font:14px Arial, Helvetica, sans-serif;background:#fff;color:#999;height:16px; box-sizing: content-box; }
#search .submit {display:block;cursor:pointer;background:url(Image/search.gif) 0 0 no-repeat;width:26px;height:26px;float:right;margin-left:4px}
#menu {padding:58px 3px 0 0;float:right}
#menu li {float:left;padding-left:18px;margin-left:17px;background:url(Image/menu_line.gif) 0 3px no-repeat}
#menu li a {display:block;font-size:21px;color: white;line-height:1.2em;text-decoration:none;letter-spacing:-1px}
#menu .first {padding-left:0;margin-left:0;background:none}
#menu li a:hover, #menu #active a {color:#13c5ff}
.roundabout-holder  {height:5em;}
.roundabout-moveable-item {cursor:pointer;width:636px;height:478px;margin-top:229px;padding-bottom:20px}
.roundabout-in-focus {cursor:auto;}
#gallery {position:relative;height:520px; top: -10%}
#gallery img {display:block;width:100%;height:100%}
#gallery li {}
/* content */
#content {padding-bottom:59px}
#content2 {padding-top:39px;color:#fff;padding-bottom:60px}
#content2 h2 {color:#fff}
.pad_left1 {padding-left:5%}
.pad {padding:0 10px}
.pad_bot1 {padding-bottom:14px}
.pad_bot2 {padding-bottom:6px}
.marg_right1 {margin-right:24px}
.marg_left1 {margin-left:-5px}
.line1 {background:url(Image/line_ver1.gif) 325px 0 repeat-y}
.line2 {background:url(Image/line_ver1.gif) 635px 0 repeat-y}
#content2 .line2, #content2 .line1 {background-image:url(Image/line_ver2.png)}
.list1 {}
.list1 li {padding-bottom:20px;padding-left:14px;background:url(Image/marker_1.gif) 0 8px no-repeat}
.list1 li a {display:block;font-weight:bold;color:#0f0f0f;text-decoration:none}
.list1 li a:hover {color:#13c5ff}
.button {display:inline-block;color:#fff;line-height:28px;text-decoration:none;padding:0 14px;background:#13c5ff}
.button:hover {background:#373737}
#content2 .button:hover {background:#fff;color:#373737}
.link1 {color:#0f0f0f;font-weight:bold}
#content2 .link1 {color:#fff}
.link2 {text-decoration:none}
.link2:hover {color:#000}
#content2 .link2:hover {color:#fff}
.date { margin-right:20px;text-align:center;font-size:inherit;color:#13c5ff;line-height:1.2em; font-weight: bold;}
.date span {display:block;font-size:inherit;line-height:1.2em;margin-top:-8px;margin-bottom:-22px;letter-spacing:-2px}
.color1 {color:#13c5ff}
/* tabs begin */
.tabs {}
.tabs ul.nav {margin-top:-5px}
.tabs ul.nav li {line-height:30px}
.tabs ul.nav li a {color:#0f0f0f;padding-left:16px;background:url(Image/marker_1.gif) 2px 6px no-repeat}
.tabs ul.nav li a:hover, .tabs ul.nav .selected a {color:#13c5ff;text-decoration:none}
.tabs .content {}
.tabs .tab-content {}
/* tabs end */
/* Lightbox image */
.lightbox-image {position:relative;overflow:hidden;display:block;background:#fff}
.lightbox-image img {position:relative;z-index:2}
.lightbox-image span {display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:url(Image/magnify.png) no-repeat 50% 50%;z-index:1}
.pp_details {display:none;height:0;padding:0;margin:0;font-size:0;line-height:0}
.pp_description {display:none;height:0;padding:0;margin:0;font-size:0;line-height:0}
.gallery {margin-top:-10px;padding-left:8px;width:100%;overflow:hidden}
.gallery li {float:left;padding-right:10px;padding-top:10px}
.gallery .end {padding-right:0}
/* footer */
footer {padding-top:43px;font-size:12px;color:#6b6b6b;text-align:center;min-height:45px;padding-bottom:40px}
footer a {}
footer a:hover {}
#icons {float:right;padding:7px 14px 0 0}
#icons li {padding-left:11px;float:left}
footer .left {width:598px}
/* Tooltips */
.aToolTip {border:1px solid #000;background:url(Image/bg_opacity.png) repeat;color:#fff;margin:0;padding:2px 10px;font-size:11px}
.aToolTip .aToolTipContent {position:relative;margin:0;padding:0;}
a.aToolTipCloseBtn {display:block;height:20px;width:20px;overflow:hidden;background:url(Image/loading/close.gif) no-repeat;text-indent:-9999px;outline:none;position:absolute;top:-15px;right:-20px;}
/* forms */
#ContactForm {padding:0 0 0 10px;margin-top:-4px}
#ContactForm span {width:114px;float:left;font-weight:bold;line-height:28px}
#ContactForm .wrapper {min-height:30px}
#ContactForm .textarea_box {width:100%;overflow:hidden;min-height:274px}
#ContactForm {}
#ContactForm {}
#ContactForm a {margin-right:10px;float:left;margin-top:5px}
#ContactForm .input {width:767px;height:16px;border:1px solid #d7d7d7;background:#fff;padding:5px;color:#000;font:14px Arial, Helvetica, sans-serif}
#ContactForm textarea {overflow:auto;margin:0;width:767px;height:257px;border:1px solid #d7d7d7;background:#fff;padding:5px;color:#000;font:14px Arial, Helvetica, sans-serif}

.wrap { margin: 20px auto;display: block;width: 75%;height: 400px;padding:5px;border: 1px solid;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2);box-shadow: 0px 0px 5px rgba(0,0,0,0.45), 0px 1px 2px rgba(0,0,0,0.2); }
.wrap img { width: 100%;margin-top: 15px;}
.silver { border-color: #fff;background-color: #dfdfdf;background: -moz-linear-gradient(top,#fff,#dfdfdf 50%,#cecece);background: -webkit-gradient(linear, left top, left bottom,from(#fff),color-stop(0.5, #dfdfdf),to(#cecece));filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr='#FFFFFF', EndColorStr='#CECECE');}
article h3 { text-align: center; max-height: 30px; overflow: hidden; }
article img { display: block; max-height: 150px; width: auto !important; margin-left: auto; margin-right: auto; }
article a { cursor: pointer; font-style: normal; text-decoration: none; }
.cropper {width: 100%; overflow: hidden; position: relative; }
/*.wrap .pad { margin-top: calc(150px + 5px); }*/

.movie {overflow: hidden; font-size: 12px; line-height: 1em; text-align: left;}
.movie_title {font-size: 25px; line-height: 1.2em; color: #13c5ff; text-align: center; font-weight: 100; max-height: 30px; overflow: hidden;}
.movie_date {display: none;}
.movie_realisator {display: inline-block;}
.movie_actors { display: inline-block;}
.movie_content { overflow: hidden; height: calc(400px - 150px - 210px)}
.movie_button {  display: block;color:#fff;line-height:28px;text-decoration:none;padding:0 14px;background:#13c5ff; }
.movie_button:hover {background:#373737}
@media screen and (max-width: 1200px) {
    .movie {margin-top: 120px;}
}

.serie {overflow: hidden; font-size: 12px; line-height: 1em; text-align: left;}
.celebrity {overflow: hidden; font-size: 12px; line-height: 1em; text-align: left;}

.hidden { display: none;}

.field-validation-error { color: red;}

.block { background-color: rgba(28,28,28,0.5); box-sizing:padding-box; margin: 1% 1%; border-radius: 10%; height: 35%; width: 30%; position: relative; }
    .block .button {  margin-left:auto; margin-right: auto;display: block; width:50%; text-align: center; margin-bottom: 3px; position: absolute; bottom: 5px; left: 20%;}
    .content { overflow-y: auto; height: 30%; }
    .pad { height: 100%;}