﻿@{
    ViewBag.Title = "Community Page";
}


<!-- content -->
<section id="content">
    <!-- Movies -->
    <div class="wrap silver movie">
        <h2>@ViewBag.community.title</h2>
        <strong class="date">@ViewBag.community.create_date</strong>
        <p class="movie_content">@ViewBag.community.description</p>
        <ul class="content">
            @foreach (var message in ViewBag.community.messages)
            {
                <li><strong>@message.username</strong>: @message.text</li>
            }

        </ul>
    </div>
    <!-- / Movies -->
</section>