﻿@{
    ViewBag.Title = "Community Page";
}


<!-- content -->
<section id="content">
    <!-- Popular -->
    <div class="wrap silver movie">
        <h2>Popular</h2>
        @foreach (var com in ViewBag.PopularCommunity)
        {
            <article class="col1 block">
                <h3 class="title">@com.title</h3>
                <div class="pad">
                    <strong class="date">@com.create_date.ToString("dd/MM/yyyy")</strong>
                    <p class="content">@com.description</p>
                    <a href="/community/details?id=@com.id" class="button">See Discussion</a>
                </div>
            </article>
        }
    </div>
    <!-- / Popular -->
    <!-- Most reviews -->
    <div class="wrap silver movie">
        <h2>Most reviews</h2>
        @foreach (var com in ViewBag.MostReviewsCommunity)
        {
            <article class="col1 block">
                <h3 class="title">@com.title</h3>
                <div class="pad">
                    <strong class="date">@com.create_date.ToString("dd/MM/yyyy")</strong>
                    <p class="content">@com.description</p>
                    <a href="/community/details?id=@com.id" class="button">See Discussion</a>
                </div>
            </article>
        }
    </div>
    <!-- / Most reviews -->
</section>